{% load static %}
<footer>
    <div class="container_footer">
        <div class="flex1">
            <div class="nav_footer">
                <a href="{% url 'landing' %}">Лендинг-пейдж</a>
                <a href="{% url 'korparativ' %}">Многостраничный сайт</a>
                <a href="{% url 'online_shop' %}">Интернет-магазин</a>
            </div>
            <a class="footer_logo" href="{% url 'home' %}">
                <img src="{% static 'img/logoтип1.png' %}" alt="">
            </a>
            <div class="obsudit_proekt forma_otkroisy">
                Обсудить проект
            </div>
        </div>
        <h1 class="text_footer">
            Сайт создан веб студией : PixelPulseTech.ru
        </h1>
        <div class="text_footer">
            Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том
            числе и бумажных, строго запрещено.
        </div>
        <h2 class="text_footer">
            © 2023 PixelPulseTech
        </h2>
    </div>
</footer>