{% load static %}
<footer>
    <div class="container_footer">
        <div class="flex1">
            <div class="nav_footer">
                <a href="#">Преимущество</a>
                <a href="#">Этапы работы</a>
                <a href="#">Цены</a>
            </div>
            <div class="footer_logo">
                <img src="{% static 'img/logotip.png' %}" alt="">
            </div>
            <div class="obsudit_proekt forma_otkroisy">
                Обсудить проект
            </div>
        </div>
        <div class="text_footer">
            По вопросам рекламы на сайте: PixelPulse.tech@yandex.ru
        </div>
        <div class="text_footer">
            Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том
            числе и бумажных, строго запрещено. Все тексты и изображения являются собственностью сайта
        </div>
        <div class="text_footer">
            © 2023 PixelPulseTech
        </div>
    </div>
</footer>