{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>PixelPulse Tech</title>
</head>
<body>
<div class="section1">
    <div class="conteiner_section1">
        <header>
            <nav class="close" role="navigation">
                <div class="logo"><img src="{% static 'img/logotip.png' %}" alt=""></div>
                <div id="menuToggle">
                    <input type="checkbox"/>
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <a href="#" target="_blank">
                            <div class="burger_tel_znachjok">
                                <img src="{% static 'img/3. Круг, заливка, большая.png' %}" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <li class="lishki">Преимущества</li>
                        </a>
                        <a href="#">
                            <li class="lishki">Цены</li>
                        </a>
                        <a href="#">
                            <li class="lishki">Этапы работы</li>
                        </a>
                        <a href="#">
                            <li class="zakaz_sait_burger">Заказать сайт</li>
                        </a>
                    </ul>
                </div>
            </nav>
            <div class="open">
                <div class="header_open">
                    <div class="foto">
                        <img src="{% static 'img/logotip.png' %}" alt="">
                    </div>
                    <div class="links">
                        <div class="preimshestvo">
                            Преимущества
                        </div>
                        <div class="cena">
                            Цены
                        </div>
                        <div class="etapy">
                            Этапы работы
                        </div>
                    </div>
                    <div class="links2">
                        <div class="zakaz_sait">
                            Заказать сайт
                        </div>
                        <div class="telefon_znachok">
                            <img src="{% static 'img/звонок.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="block1">
            <div class="zagolovok_block">
                <div class="zapolnity_form">
                    Заполните форму и получите персональное предложение со скидкой до 20%
                </div>
                <div class="zakazat_sait">
                    Заказать сайт под ключ от 20 000 рублей
                </div>
                <div class="razrabotka">
                    Разработка современных сайтов под ключ для вашего бизнеса с высокой конверсией от 14 рабочих
                    дней
                </div>
                <div class="knopka2">
                    <div class="zakazat_knopka">
                        Заказать сайт
                    </div>
                    <div class="poluchi_podarok">
                        Базовая оптимизация и домен в подарок
                    </div>
                </div>
                <div class="kompyter">
                    <img src="{% static 'img/компьютер-PhotoRoom.png-PhotoRoom.png' %}" alt="">
                </div>
            </div>
        </div>
        <img class="vector" src="{% static 'img/Vector1.png' %}" alt="">
    </div>
</div>
    <div class="conteiner_section2">
        <div class="preimyshestvo">Преимущества работы с нами</div>
        <div class="container">
            <div class="item">
                <img class="gifka" src="{% static 'img/картинки gifki/1 картинка.gif' %}" alt="">
                <div class="absol_proz">
                    Абсолютная прозрачность
                </div>
                <div class="text2">
                    Приглашаем вас окунуться в наш творческий процесс, обеспечивая открытый доступ ко всем материалам на
                    каждом этапе разработки.
                </div>
            </div>
            <div class="item">
                <img class="gifka" src="{% static 'img/картинки gifki/2 картин.gif' %}" alt="">
                <div class="absol_proz">
                    Оперативная реакция
                </div>
                <div class="text2">
                    Ваши запросы не остаются без ответа, а работы выполняются в сжатые сроки.
                </div>
            </div>
            <div class="item">
                <img class="gifka" src="{% static 'img/картинки gifki/3.gif' %}" alt="">
                <div class="absol_proz">
                    Управление контентом
                </div>
                <div class="text2">
                     Наш интуитивно понятный интерфейс позволяет вам легко обновлять контент самостоятельно, поддерживая
                    актуальность информации.
                </div>
            </div>
            <div class="item">
                <img class="gifka" src="{% static 'img/картинки gifki/4.gif' %}" alt="">
                <div class="absol_proz">
                    Забота до конца
                </div>
                <div class="text2">
                    Мы берем на себя все технические нюансы, включая размещение сайта на сервере. Ваш сайт становится
                    доступным для всего мира.
                </div>
            </div>
            <div class="item">
                <img class="gifka" src="{% static 'img/картинки gifki/5.gif' %}" alt="">
                <div class="absol_proz">
                    Адаптация
                </div>
                <div class="text2">
                    Во все пакеты услуг входит создание адаптивной версии вашего сайта для любых устройств.
                </div>
            </div>
            <div class="item">
                <img class="gifka" src="{% static 'img/картинки gifki/6.gif' %}" alt="">
                <div class="absol_proz">
                    Погружение в суть
                </div>
                <div class="text2">
                    В этот этап мы вкладываем душу, чтобы понять ваш бизнес. Это позволяет нам создать сайт, который не
                    только соответствует, но и отражает вашу сущность.
                </div>
            </div>
        </div>
    </div>
</body>
</html>