{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/этапы.css' %}">
    <link rel="stylesheet" href="{% static 'css/tariphy.css' %}">
    <link rel="stylesheet" href="{% static 'css/свяжитесь с нами.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/прокрутка.js' %}"></script>
    <link rel="stylesheet" href={% static "css/анимация_прокрутки.css" %}>
    <title>PixelPulse Tech</title>
</head>
{% include 'header.html' %}
<body>
<div class="section1">
    <div class="conteiner_section1">
        <div class="block_sozdaem_saity">
            <div class="sozdaem_saity_kluch">
                Создаём сайты под ключ
            </div>
            <div class="block_babki">
                <div class="dengi">От 20 000 ₽</div>
                <div class="kvadrat_dingi"></div>
            </div>
            <div class="razrabotka_sovrem_saitov">
                Разработка современных сайтов под ключ для вашего бизнеса от 14 рабочих дней
            </div>
            <div class="zopolnity_formy_kartinka_block">
                <div class="zopolnity_formy_kartinka">
                    <img src="{% static 'img/Портрет 3 1.png' %}" alt="">
                </div>
                <div class="zapolnity_formy">
                    Заполните форму прямо сейчас и получите уникальное предложение
                </div>
            </div>
            <div class="zapolny_formy_block">
                <div class="zapolnyt_formy">
                    Заполнить форму
                </div>
                <div class="bazovay_adaptacia">
                    Базовая адаптация и домен в подарок
                </div>
            </div>
        </div>
    </div>
</div>
<div class="conteiner_section2">
    <div class="preimyshestvo">Преимущества работы с нами</div>
    <div class="container">
        <div class="item">
            <img class="gifka animatable fadeInUp" src="{% static 'img/картинки gifki/1 картинка.gif' %}" alt="">
            <div class="absol_proz">
                Абсолютная прозрачность
            </div>
            <div class="text2">
                Приглашаем вас окунуться в наш творческий процесс, обеспечивая открытый доступ ко всем материалам на
                каждом этапе разработки. Вы можете каждый день отслеживать процесс работы
            </div>
        </div>
        <div class="item">
            <img class="gifka animatable fadeInUp" src="{% static 'img/картинки gifki/2 картин.gif' %}" alt="">
            <div class="absol_proz">
                Оперативная реакция
            </div>
            <div class="text2">
                Ваши запросы не остаются без ответа, а работы выполняются в сжатые сроки.
            </div>
        </div>
        <div class="item">
            <img class="gifka animatable fadeInUp" src="{% static 'img/картинки gifki/3.gif' %}" alt="">
            <div class="absol_proz">
                Управление контентом
            </div>
            <div class="text2">
                 Наш интуитивно понятный интерфейс позволяет вам легко обновлять контент самостоятельно, поддерживая
                актуальность информации.
            </div>
        </div>
        <div class="item">
            <img class="gifka animatable fadeInUp" src="{% static 'img/картинки gifki/4.gif' %}" alt="">
            <div class="absol_proz">
                Забота до конца
            </div>
            <div class="text2">
                Мы берем на себя все технические нюансы, включая размещение сайта на сервере. Ваш сайт становится
                доступным для всего мира.
            </div>
        </div>
        <div class="item">
            <img class="gifka animatable fadeInUp" src="{% static 'img/картинки gifki/5.gif' %}" alt="">
            <div class="absol_proz">
                Адаптация
            </div>
            <div class="text2">
                Это процесс, в ходе которого сайт разрабатывается так, чтобы он корректно и удобно отображался на
                различных устройствах и экранах, включая компьютеры, планшеты и мобильные устройства.
            </div>
        </div>
        <div class="item">
            <img class="gifka animatable fadeInUp" src="{% static 'img/картинки gifki/6.gif' %}" alt="">
            <div class="absol_proz">
                Создание бренда и логотипа
            </div>
            <div class="text2">
                В этот этап мы вкладываем душу. Это помогает вашему бизнесу выделиться и запомниться в глазах
                потенциальных клиентов.
            </div>
        </div>
    </div>
</div>
{% include 'etapy.html' %}
{% include 'tariphy.html' %}
{% include 'свяжитесь_с_нами.html' %}
</body>
</html>