{% load static %}
<div class="container_section_tariphy">
    <div class="tariphy">
        <p>Популярные тарифы</p>
    </div>
    <div class="container_grid_terapia">
        <div class="container_tariphy container_mobile">
            <div class="zagolovok_tariphy">
                <div class="paket_tariphy">
                    Пакет <br> “Базовый”
                </div>
                <div class="content_tariphy">
                    Cайт-визитка
                </div>
            </div>
            <div class="cvet_tarifa">
                <div class="content_tariphy1">
                    Разработка сайта с размером: <br> одного компьютерного экрана
                </div>
                <div class="content_tariphy2">
                    <li>Составление прототипа</li>
                    <li>Разработка дизайна</li>
                    <li>Базовый мобильный адаптив сайта</li>
                    <li>Разработка сайта</li>
                    <li>Выгрузка сайта на сервер</li>
                    <li>Привязка домена</li>

                </div>
                <div class="flex_cena_podrobnee">
                    <div class="cena_tariphy">
                        от 20 000 ₽
                    </div>
                    <div class="podrobnee_tariphy">
                        <p>Подробнее</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_tariphy">
            <div class="zagolovok_tariphy cvet_paket2">
                <div class="paket_tariphy">
                    Пакет “Оптимальный”
                </div>
                <div class="content_tariphy ">
                    Малый корпоративный сайт <br>
                    Landing-page
                </div>
            </div>
            <div class="cvet_tarifa">
                <div class="content_tariphy1">
                    Базовые функции + формы обратной связи и улучшенный дизайн сайта.
                </div>
                <div class="content_tariphy2">
                    <li>До 3 страниц контента</li>
                    <li>Углубленная разработка адаптивной версии для любых устройств</li>
                    <li>Разработка логитипа сайта в 3 вариантах</li>
                    <li>Cоздание форм обратной связи с использованием Telegram ботов</li>
                </div>
                <div class="flex_cena_podrobnee">
                    <div class="cena_tariphy">
                        от 50 000 ₽
                    </div>
                    <div class="podrobnee_tariphy">
                        <p>Подробнее</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_tariphy">
            <div class="zagolovok_tariphy cvet_paket3">
                <div class="paket_tariphy">
                    Пакет “Продвинутый”
                </div>
                <div class="content_tariphy">
                    Средний корпоративный сайт <br> сайт-каталог
                </div>
            </div>
            <div class="cvet_tarifa">
                <div class="content_tariphy1">
                    Все функции предыдущих пакетов + более обьемный сайт с использованием анимаций для элементов сайта
                </div>
                <div class="content_tariphy2">
                    <li>До 5 страниц контента</li>
                    <li>Услуги копирайтера</li>
                    <li>Использование баз данных для самостоятельного изменения контента сайта</li>
                    <li>Тех-сопровождение сайта в течении 6 месяцев</li>
                </div>
                <div class="flex_cena_podrobnee">
                    <div class="cena_tariphy">
                        от 125 000 ₽
                    </div>
                    <div class="podrobnee_tariphy">
                        <p>Подробнее</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_tariphy">
            <div class="zagolovok_tariphy cvet_paket4">
                <div class="paket_tariphy">
                    Пакет <br> “Премиум”
                </div>
                <div class="content_tariphy">
                    Крупный корпоративный сайт, портал, интернет-магазин
                </div>
            </div>
            <div class="cvet_tarifa">
                <div class="content_tariphy1">
                    Все функции предыдущих пакетов + сложный функционал
                </div>
                <div class="content_tariphy2">
                    <li>До 8 страниц контента</li>
                    <li>Создание учетных записей</li>
                    <li>Преимиум сопровождение введения и создания сайта</li>
                    <li>Тех-сопровождение в течение года</li>
                </div>
                <div class="flex_cena_podrobnee">
                    <div class="cena_tariphy">
                        от 250 000 ₽
                    </div>
                    <div class="podrobnee_tariphy">
                        <p>Подробнее</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_section3_end">
        <div class="paket_indidualnyi">
            <div class="zagolovok_paket_individ">
                Пакет “Индивидуальный”
            </div>
            <div class="cvet_tarifa individ_paket">
                <div class="bazov_funcii">
                    Вы всегда можете выбрать “Индивидуальный пакет”. Если вам не подходят вышеуказанные услуги и вы
                    хотите
                    создать
                    с нашей помощью, что то особенное.
                </div>
                <div class="flex_paket_individ">
                    <div class="flex_paket_individ_text">
                        <div class="content_paket_indiv_1">
                            В этот пакет входит :
                        </div>
                        <div class="content_paket_indiv_2">
                            Базовые функции + Индивидуально подобранные параметры, необходимые именно для вашего проекта
                        </div>
                    </div>
                    <div class="kartinka_paket_individ">
                        <img src="{% static 'img/tariphy/щестерёнки.gif' %}" alt="">
                    </div>
                </div>
                <div class="soimost_zapros">
                    Стоимость определяется по запросу: для сложных, уникальных и масштабных проектов,
                    а также проектов, требующих индивидуального подхода
                </div>
                <div class="podrobnee_tariphy2">
                    <p>Подробнее</p>
                </div>
            </div>
        </div>
        <div class="podrobnee_praisom">
            Подробнее с прайсом на дополнительные услуги можно ознакомиться здесь
        </div>
    </div>
</div>